* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {text-transform: uppercase;}

.navigation-bar {height: 4rem;
background-color: rgb(223, 223, 223);
display: flex;
justify-content: space-between;
align-items: center;
min-width: 410px;
flex-wrap: wrap;
padding: 0rem 2rem 0rem 2rem;}

.recovery {
    text-align: center;
}


.ul-nav {display: flex;
list-style: none;
gap: 2rem;
flex-wrap: wrap;}

.intro {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form {
    margin: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input {
    padding-left: 1rem;
}

.form label {
    margin-bottom: .50rem;
    margin-top: .50rem;
}

.nome-sobrenome {
    display: flex;
    flex-direction: column;
}

.nome-sobrenome input {
    height: 2rem;
}

/* valid */


/* invalid */

.birth {
    display: flex;
    flex: 0;

}

.birth select {
    width: 40%;
    height: 2rem;
    padding-left: 1rem;
}

.country {
    display: flex;
    flex-direction: column;
}

.country select {
    height: 2rem;
    padding-left: 1rem;
}

.go-ahead {
    display: flex;
    margin: 2rem;
    gap: 10px;
}

.go-ahead button {
    height: 2rem;
    width: 7%;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

#next {
    background-color: rgb(0, 92, 128);
    color: white;
    font-weight: bold;
}

.go-ahead button:hover {
    transform: scale(1.2);
    animation: scaleAnimation 0.3s ease-in-out;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

/* reused */

.invalid {
    border: 1px solid red;
}

#invalid-add,
#invalid-add-sobrenome,
#sl-pais {
    color: red;
    margin-left: 1rem;
}